@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0e6d2;
    font-family: 'Tiny5', sans-serif;
    color: #fff;
    
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    font-size: 1.5em;
    position: relative;
}
.container {
    text-align: center;
    justify-items: center;
}
.mainTitle {
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8);
}
.description {
    margin-top: 20px;
    max-width: 70%;
}
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}
#completeTable {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
}
#searchBar {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255, 0.6);
}
table {
    border-collapse: collapse;
    margin-top: 5px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8);
    border: 3px solid #000;
}
#rejectionTable > thead {
    display: block;
}
#rejectionTable > tbody {
    overflow-y: scroll;
    max-height: 300px;
    display: block;
}

th {
    border-bottom: 3px solid rgb(0, 0, 0, 0.8);
}
th, td {
    color: #000;
    padding: 9px;
    width: 150px;
}  

#side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding-top: 9px;
}

#progressTitle {
    display: flex;
    color: #000;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 3px;
}
#containerContainer {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
#progressContainer {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8);
    border: 3px solid #000;
    margin:5px;
    display:flex;
    justify-content: flex-start;
}
#progressBar {
    height: 100%;
    background-color: rgba(106, 183, 103, 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 50%;

}
#progressInfo {
    margin-top: 0;
    font-size: 1.2em;
    color: #000;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: absolute;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(255, 255, 255, 0.8);
    font-family: 'Tiny5', sans-serif;
    color: #000;
    border: 3px solid #000;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8);
    margin:5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 0;
}

button > .material-symbols-outlined {
    font-size: 1em;
    font-weight: bold;
}

button > * {
    padding: 7px
}
button:hover {
    background-color: rgb(255, 255, 255, 1);
}
button:active {
    box-shadow: 2px 2px 0px rgb(0, 0, 0, 0.8);
    transform: translate(2px, 2px);
}

#goalInfo {
    margin-top: 5px;
    font-size: 1.8em;
    color: #000;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#goalInfo > * {
    width: 100%;
}

.popUp {
    display: none;
    position: absolute;
    background-color: rgb(255, 254, 244, 0.8);
    box-shadow: 4px 4px 0px rgb(0, 0, 0, 0.8);
    border: 3px solid #000;
    color: #000;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    flex-direction: column;
    align-items: start;

}

.exitButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    align-items: start;
    font-size: 1.5em;
}
.exitButtonContainer > button {
    width: auto;
    padding: 0;
    margin-top: 2px;
    font-size: 0.75em;
}
.exitButtonContainer > p {
    margin: 10px;
}

.popUp > .container {
    text-align: start;
    justify-items: start;
}
.question {
    padding: 2px;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
}

input, select {
    height: 100%;
    font-family: 'Tiny5', sans-serif;
    font-size: 1em;
    border: 3px solid #000;
    background-color: rgb(255, 255, 255, 0.6);
}
.saveContainer {
    margin-top: 7px;
    display: flex;
    width: 100%;
    justify-content: end;
}
.saveContainer > button {
    width: auto;
}
.actionCell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}